@page
@model JwtOnRazorPages.Pages.LoginModel
@{
}

<form method="post">
    <label asp-for="Username"></label>
    <input asp-for="Username" />

    <label asp-for="Password"></label>
    <input asp-for="Password" type="password" />

    <button type="submit">Login</button>
</form>